<!DOCTYPE html>
<html>

<head>
  {% load staticfiles %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}首页{% endblock %} - 云学院,免费云计算视频网站</title>
  <link href="//cdn.bootcss.com/aos/2.2.0/aos.css" rel="stylesheet">
  <link href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/bulmaswatch/united/bulmaswatch.min.css">
  <style></style>
  {% block style %}{% endblock %}
</head>

<body>
  <nav class="main-nav nav has-shadow">
    <div class="container">
      <div class="nav-left">
        <a class="nav-item" href="{% url 'index' %}">
          <h1 class="title is-5">云学院</h1>
        </a>
        <a class="nav-item is-active" href="{% url 'index' %}">首页</a>
        <a class="nav-item is-active" href="{% url 'courses:index' %}">课程目录</a>
      </div>
      <span class="nav-toggle">
        <span></span>
        <span></span>
        <span></span>
      </span>
      <div class="nav-right nav-menu">
        <div class="nav-item">
          <form role="search" method="get" id="searchform" action="{% url 'haystack_search' %}">
            <input class="input is-small" type="search" name="q" required placeholder="输入关键词并回车">

          </form>

        </div>
        {% if user.is_authenticated %}
        <a class="nav-item" href="{% url 'users:uc_index'%}">
          <span class="icon">
            <i class="fa fa-user"></i>
          </span>
          {% if user.nickname %}
          {{user.nickname}}
          {% else %}
          {{user.username}}
          {% endif %}
        </a>
        <a class="nav-item" href="{% url 'logout' %}?next={{ request.path }}">
            <span class="icon">
              <i class="fa fa-sign-out"></i>
            </span>
            
          </a>
        {% else %}
        <a class="nav-item" href="{% url 'login' %}?next={{ request.path }}">
          <span class="icon">
            <i class="fa fa-sign-in"></i>
          </span>
          登陆
        </a>
        {% endif %}
      </div>
    </div>
  </nav>
  {% block content %} {% endblock %}
  <div class="is-clearfix"></div>
  <footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <p>
          云学院 版权所有 © 2017-2018 · ICP备 XXXXXXXXX 号
        </p>
      </div>
    </div>
  </footer>
  {% block script %}{% endblock %}
</body>

</html>