{% extends 'layout/uc.html' %} 
{% load staticfiles %}
{% block content %}
<section class="hero is-info welcome is-small">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
               欢迎回来！{% if user.nickname %}
               {{user.nickname}}
               {% else %}
               {{user.username}}
               {% endif %}
            </h1>
            <h2 class="subtitle">
               希望今天你也能有所精进
            </h2>
        </div>
    </div>
</section>
<section class="info-tiles">
    <div class="tile is-ancestor has-text-centered">
        <div class="tile is-parent">
            <article class="tile is-child box">
                <p class="title">1</p>
                <p class="subtitle">已学课程</p>
            </article>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child box">
                <p class="title">1</p>
                <p class="subtitle">待完成总结</p>
            </article>
        </div>
       
    </div>
</section>
{%endblock%}
