{% extends 'layout/uc.html' %} {% load staticfiles %} {% block content %}

<h1 class="title">个人设置</h1>
<hr>

<form method="post">
    {% csrf_token %} {% for field in form %}
    <div class="field">
        {{ field.errors }} {{ field.label_tag }}
        <div class="control">

            <input name="{{ field.name }}" class="input" type="text" placeholder="{{ field.label }}" value="{{field.value|default_if_none:""}}">

        </div>
    </div>
    {% endfor %}
    <div class="field is-grouped">
        <div class="control">
            <button type="submit" class="button is-primary">更新</button>
        </div>
        <div class="control">
            <button type="reset" class="button is-text">重置</button>
        </div>
    </div>

</form>

{%endblock%}