{% extends 'layout/app.html' %} {% block content %}

<section class="container">
  <div class="columns">
    {% for category in categories %}
    <div class="column is-4 category-item">
      <div class="card">
        <div class="card-image">
          <a href="{% url 'courses:category' category.id %}">
            <figure class="image is-16by9">
              <img src="{{ category.image.url }}" alt="Placeholder image">
            </figure>
          </a>
        </div>
        <div class="card-content">
          <div class="content has-text-centered">
            <a href="{% url 'courses:category' category.id %}">
              <h1 class="title"> {{ category.title }}</h1>
            </a>
            <div class="columns">
              <div class="column is-4">
                <p class="subtitle">{{category.series_set.count}} 课程</p>
              </div>
              <div class="column is-4">
                <p class="subtitle">{{category.section_set.count}} 章节</p>
              </div>
              <div class="column is-4">
                  <p class="subtitle">{{category.episode_set.count}} 视频</p>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}

  </div>
</section>
<section class="container">
  <nav class="pagination is-centered" role="navigation" aria-label="pagination">

    <ul class="pagination-list">

      {% for page_number in categories.paginator.page_range %} {% ifequal page_number categories.number %}
      <a class="pagination-link is-current" aria-label="Page 1" aria-current="page"> {{ page_number }}</a>
      {% else %}
      <a href="?page={{ page_number }}" class="pagination-link" aria-label="Goto page {{ page_number }}">{{ page_number }}</a>
      {% endifequal %} {% endfor %}

    </ul>

  </nav>
</section>


{% endblock %} {% block style %}
<style>
  .category-item {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .pagination {
    padding-bottom: 20px;
  }
</style>

{% endblock%}