{% extends 'layout/app.html' %} {% block content %}

<section class="container">
    <hr>
    <video class="video_player" controls>
        <source src="{{episode.video.url}}" type="video/mp4">
    </video>
    <h1 class="title">{{ episode.title }}</h1>
    <nav class="breadcrumb">
        <ul>
            <li>
                <a href="{% url 'index'%}">云学院</a>
            </li>
            <li>
                <a>{{episode.category.title}}</a>
            </li>
            <li>
                <a>{{episode.series.title}}</a>
            </li>
            <li class="is-active">
                <a>{{episode.title}}</a>
            </li>
        </ul>
    </nav>
    <h2 class="subtitle">小节内容介绍</h2>
    <div class="content">
        {{episode.description|safe}}
    </div>
    <h2 class="subtitle">讨论区</h2>

</section>

{% endblock %} 

{% block style%}
<link rel="stylesheet" href="https://cdnjs.cat.net/ajax/libs/plyr/2.0.9/plyr.css"> 
<style>
    h1.title{
        margin: 10px 0px;
    }
</style>
{% endblock%} 

{% block script %}

<script src="https://cdnjs.cat.net/ajax/libs/plyr/2.0.9/plyr.js"></script>
<script>
    options = {
        i18n: {
            restart: "重新播放",
            rewind: "向后 {seektime} 秒",
            play: "播放",
            pause: "暂停",
            forward: "向前 {seektime} 秒",
            buffered: "加载完成",
            currentTime: "当前时间",
            duration: "缓冲",
            volume: "音量",
            toggleMute: "静音",
            toggleCaptions: "字幕",
            toggleFullscreen: "全屏"
        },
        controls: ['play-large', 'play', 'progress', 'current-time', 'mute', 'volume', 'fullscreen'],
        tooltips: { controls: true, seek: true }
    }
    plyr.setup('.video_player', options);
</script> {% endblock %}