{% extends 'layout/app.html' %} {% block content %}
<section class="banner has-text-centered">
  <div class="container">
    <svg viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="200" height="200">
      <defs>
        <style/>
      </defs>
      <path d="M971.928 323.9L523.792 121.562c-5.354-2.417-11.49-2.417-16.845 0L58.81 323.9c-7.33 3.31-12.043 10.608-12.043 18.652s4.712 15.342 12.044 18.653l21.476 9.695v323.93c0 11.304 9.162 20.467 20.466 20.467s20.466-9.163 20.466-20.466V389.38l95.555 43.145.02 362.097c0 6.925 3.5 13.38 9.305 17.156 86.094 56 186.124 85.597 289.273 85.597 103.155 0 203.188-29.602 289.285-85.606 5.806-3.777 9.307-10.232 9.307-17.157l.005-362.088 157.962-71.32c7.33-3.312 12.043-10.61 12.043-18.654s-4.714-15.34-12.045-18.65zm-198.9 459.463c-77.3 47.846-166.142 73.08-257.658 73.08-91.51 0-180.35-25.23-257.647-73.07l-.017-332.365 249.242 112.535c2.677 1.208 5.55 1.812 8.422 1.812s5.745-.605 8.422-1.812l249.24-112.535-.003 332.355zM515.37 522.433l-398.402-179.88L515.37 162.67l398.402 179.882-398.402 179.88z"
      />
    </svg>

    <h2 class="title is-2 animated bounceIn">
      云学院
    </h2>
    <h5 class="title sub-title is-5 animated fadeIn">最新最专业的精品云计算学习课程尽在这里！ </h5>
  </div>
</section>
<section class="container category">
  <h1 class="title is-4">类别 × 3</h1>
  <div class="columns  has-text-centered">
    <div class="column">
      <div class="circle animated bounceIn">
        <h1 class="title is-1 ">Theory</h1>
        <h4 class="title sub-title is-5">云计算理论</h4>
      </div>
    </div>
    <div class="column">
      <div class="circle animated bounceIn">
        <h1 class="title is-1 ">Practice</h1>
        <h4 class="title sub-title is-5">云计算实践</h4>
      </div>
    </div>
    <div class="column">
      <div class="circle animated bounceIn">
        <h1 class="title is-1 ">Coding</h1>
        <h4 class="title sub-title is-5">云计算编码</h4>
      </div>
    </div>
  </div>
</section>
<section class="style">
  <div class="container">

    <h1 class="title is-4">如何学习 × 4</h1>
    <div class="columns is-multiline">

      <div class="column is-6">
        <h3 class="title is-5  animated zoomIn">
          <i class="fa fa-check-circle" aria-hidden="true"></i> 理论与实践并重</h3>
        <p class="animated zoomIn">我们希望您能够在掌握技能的同时，了解其背后的理论，帮助您更好的使用云计算。享受云计算的红利</p>
      </div>
      <div class="column is-6">
        <h3 class="title is-5  animated zoomIn">
          <i class="fa fa-check-circle" aria-hidden="true"></i> 由浅入深，层层递进</h3>
        <p class="animated zoomIn">我们根据您的情况，为您定制了不同难度的学习课程，您可以根据课程进行学习，降低学习难度。</p>
      </div>
      <div class="column is-6">
        <h3 class="title is-5  animated zoomIn">
          <i class="fa fa-check-circle" aria-hidden="true"></i> 输出输出共举</h3>
        <p class="animated zoomIn">我们认为您的课程学习是在完成知识的输入过程，但是知识的输入并不意味着您已经完全学会了， 所以我们设计了知识输出的环节，从输入到输出，真正掌握知识。
        </p>
      </div>
      <div class="column is-6">
        <h3 class="title is-5  animated zoomIn">
          <i class="fa fa-check-circle" aria-hidden="true"></i> 课后即时交流</h3>
        <p class="animated zoomIn">根据不同的课程，我们建立了不同的社群，帮助您找到志同道合之人，共同学习，共同进步。</p>
      </div>

    </div>


  </div>
</section>
<section class="faq container">
  <h1 class="title is-4">FAQ × 6</h1>
  <div class="columns">

    <div class="column is-4 has-text-right">
      <h3 class="title is-5">
        为什么是云学院？
      </h3>
      <h3 class="title is-5">
        在这里我能学到什么？
      </h3>
      <h3 class="title is-5">
        适合我学习么？
      </h3>
    </div>

    <div class="column is-8">
      <div class="player aos-init aos-animate" data-aos="fade-down">
        视频框
      </div>

    </div>

  </div>
</section>
<section class="coureses">
  <div class="container">
    <h1 class="title is-4">最新教程 × 9</h1>

    <ul class="columns is-multiline">


      <li class="column is-4">
        <a class="course-name link" href="/course/functional-programer">
          函数式编程
        </a>
        <span class="course-type vip"> 会员课程 </span>
        <p>了解一下函数式编程的范式，学会并掌握它，可以让你的视野更开拓。</p>
      </li>

    </ul>
  </div>
</section>
<div class="count">
  <div class="container">
    <h4 class="title is-4">统计 × 4 </h4>
    <div class="level">
      <div class="level-item has-text-centered">
        <div data-aos="zoom-in" class="aos-init aos-animate">
          <p class="heading">课程量</p>
          <p class="title">70</p>
        </div>
      </div>

    </div>

  </div>
</div>
</section>
<div class="tags">

  <div class="container">
    <h4 class="title is-4">课程体系 × N</h4>
    <div class="columns is-multiline aos-init aos-animate" data-aos="zoom-out">
      <div class="column is-3 has-text-centered">
        <h3>AWS</h3>
      </div>
      <div class="column is-3 has-text-centered">
        <h3>Azure</h3>
      </div>
      <div class="column is-3 has-text-centered">
        <h3>阿里云</h3>
      </div>
      <div class="column is-3 has-text-centered">
        <h3>腾讯云</h3>
      </div>
      <div class="column is-3 has-text-centered">
        <h3>百度云</h3>
      </div>
      <div class="column is-3 has-text-centered">
        <h3>网易云</h3>
      </div>
      <div class="column is-3 has-text-centered">
        <h3>UCloud</h3>
      </div>
      <div class="column is-3 has-text-centered">
        <h3>QingCloud</h3>
      </div>

      <div class="column is-3 has-text-centered">
        <h3>Digital Ocean</h3>
      </div>
      <div class="column is-3 has-text-centered">
        <h3>Linode</h3>
      </div>
      <div class="column is-3 has-text-centered">
        <h3>LeanCloud</h3>
      </div>
      <div class="column is-3 has-text-centered">
        <h3>Heroku</h3>
      </div>
      <div class="column is-3 has-text-centered">
        <h3>Django</h3>
      </div>
      <div class="column is-3 has-text-centered">
        <h3>Think.js</h3>
      </div>
      <div class="column is-3 has-text-centered">
        <h3>Laravel</h3>
      </div>
      <div class="column is-3 has-text-centered">
        <h3>Beego</h3>
      </div>
    </div>
    <p style="text-align: center;font-size: 14px; color: #333;margin-top: 25px;">内容还在持续增长...</p>

  </div>
</div>
{% endblock %} {% block style %}
<link rel="stylesheet" href="https://fonts.cat.net/css?family=Fira+Mono">
<style type="text/css">
  body {
    background-color: #f5f5f5;
  }

  .category,
  .banner,
  .style,
  .faq,
  .count,
  .tags,
  .coureses {
    padding: 50px 0px;
  }

  .banner,
  .coureses,
  .style,
  .tags {
    background-color: #fff;

  }

  .tags .column h3 {
    font-size: 28px;
    margin: 20px 0;
    font-family: "Fira Mono";
  }

  .category .title {
    font-family: "Fira Mono";
  }
</style>

{% endblock %}