{% extends 'layout/app.html' %} {% load time_extra %} {% block content %}
<section class="hero is-primary">

    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                {{category.title}}
            </h1>
            <p>
                {{category.description|safe}}
            </p>

        </div>
    </div>
</section>
<section class="container">
    <div class="columns">
        {% for item in series %}
        <div class="column is-4 category-item">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-16by9">
                        <a href="{% url 'courses:series' item.id%}">
                            <img src="{{ item.image.url }}" alt="Placeholder image">
                        </a>
                    </figure>
                </div>
                <div class="card-content">
                    <div class="content has-text-centered">
                        <a href="{% url 'courses:series' item.id%}">
                            <h1 class="title"> {{ item.title }}</h1>
                        </a>

                        <div class="columns">

                            <div class="column is-6">
                                <p class="subtitle">{{item.section_set.count}} 章节</p>
                            </div>
                            <div class="column is-6">
                                <p class="subtitle">{{item.episode_set.count}} 视频</p>
                            </div>
                           
                        </div>
                        <div class="columns">
                                <div class="column ">
                                        <p class="subtitle">总时长：{{item.videolength|time_format}} </p>
                                </div>
                        </div>
                        <p>{{item.excerpt}}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</section>
<section class="container">
    <nav class="pagination is-centered" role="navigation" aria-label="pagination">

        <ul class="pagination-list">

            {% for page_number in series.paginator.page_range %} {% ifequal page_number series.number %}
            <a class="pagination-link is-current" aria-label="Page 1" aria-current="page"> {{ page_number }}</a>
            {% else %}
            <a href="?page={{ page_number }}" class="pagination-link" aria-label="Goto page {{ page_number }}">{{ page_number }}</a>
            {% endifequal %} {% endfor %}

        </ul>

    </nav>
</section>

{% endblock %} {% block style%}
<style>
    .category-item {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .pagination {
        padding-bottom: 20px;
    }
</style>
{% endblock %}