{% extends 'layout/app.html' %} 
{% load time_extra %}
{% block content %}

<section class="hero is-link">
    <div class="hero-body">
        <div class="container">
            <div class="columns has-text-centered">
                <div class="column is-12">
                    <p class="title">
                        {{series.title}}
                    </p>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>

<section class="content container">
    <div class="columns">
        <div class="column is-8">
            <div>
                <!-- description -->
                <h1 id="description" class="title is-12">课程介绍</h1>
                <hr>
                <div class="content">
                    {{series.description|safe}}
                </div>
                <br>
                <!-- attribute -->
                <h1 id="attribute" class="title is-12">课程介绍</h1>
                <hr>
                <div class="columns">
                    <div class="column">
                        <p>课程所属目录：{{ series.category }}</p>
                    </div>
                    <div class="column">
                        <p>视频数：{{series.episode_set.count}}</p>
                    </div>
                    <div class="column">
                        <p>总时长：{{ series.videolength|time_format}}</p>
                    </div>
                </div>
                <br>
                <!-- video list -->
                <h1 id="videolist" class="title is-12">课程列表</h1>
                <hr>
                <ul>
                    {% for item in sections %}
                    <li class="section-item">
                        <p class="subtitle">
                            <span class="tag is-black">{{forloop.counter}}</span> {{item.title}}</p>
                        <ul>
                            {% for o in episodes %} {% if o.section_id == item.id %}
                            <li class="episode-item">
                                <a href="{% url 'courses:episode' o.id %}">
                                    <span class="tag is-primary">{{forloop.counter}}</span> {{o.title}}</a>  <span class="has-text-right has-text-grey is-pulled-right	">{{ o.video_length|time_format }}</span>  - <small>{{o.excerpt}}</small>
                            </li>
                            {% endif %} {% endfor %}
                        </ul>
                        <hr>
                    </li>
                    {% endfor %}
                </ul>
                <br>
                <!-- file list -->
                <h1 id="filelist" class="title is-12">附件下载</h1>
                <hr>
                <ul>
                
                {% for item in attachments %}
                        <li><span class="tag is-primary"> {{forloop.counter}} </span> <a href="{{item.file.url}}">{{item.title}}</a>- <small>{{item.excerpt}}</small></li>
                {% endfor %}
                    
                </ul>
                 <!-- cite list -->
                 <h1 id="linklist" class="title is-12">相关链接</h1>
                 <hr>
                 <ul>
                 
                 {% for item in cites %}
                         <li><span class="tag is-primary"> {{forloop.counter}} </span> <a href="{{item.link}}">{{item.title}}</a>- <small>{{item.excerpt}}</small></li>
                 {% endfor %}
                     
                 </ul>
            </div>
        </div>
        <div class="column is-4 is-hidden-mobile">
            <aside class="menu">
                <p class="menu-label">
                    课程介绍
                </p>
                <ul class="menu-list">
                    <li>
                        <a href="#description">课程介绍</a>
                    </li>
                    <li>
                        <a href="#attribute">课程属性</a>
                    </li>
                </ul>
                <p class="menu-label">
                    学习资源
                </p>
                <ul class="menu-list">
                    <li>
                        <a href="#videolist">课程列表</a>
                    </li>
                    <li>
                        <a href="#filelist">附件下载</a>
                    </li>
                    <li>
                        <a href="#linklist">相关链接</a>
                    </li>
                </ul>
            </aside>


        </div>

    </div>



</section>

{%endblock%} {% block style %}

<style>
    li {
        list-style: none;
    }

    .section-item {
        padding: 10px 0px;
    }

    .episode-item {
        padding: 5px 0px;
    }
</style>

{% endblock %}