
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>注册 - 云学院</title>
  <link href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/bulmaswatch/united/bulmaswatch.min.css">  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
  {% load staticfiles %}   
  <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
</head>
<body>
  <section class="hero is-success is-fullheight">
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="column is-6 is-offset-3">
          <h3 class="title has-text-grey">登陆</h3>
          <p class="subtitle has-text-grey">🚩 我们已经在此等待多时。</p>
          <div class="box">
            <figure class="avatar">
              <img src="https://ws3.sinaimg.cn/large/006tKfTcgy1fkywyrh5nfj30b40b40sm.jpg" width="128">
            </figure>
            {% load socialaccount %}
            
            <div class="columns">
              <div class="column">
                  <a class="button is-primary is-large" href="{% provider_login_url "github" %}">Github登陆</a>
              </div>
            </div>
            <hr>
            <form class="form" action="{% url 'login' %}" method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% for field in form %}
            
             <div class="field">
                    <div class="control">
                    {% if field.name != 'password' %}
                      <input name="{{ field.name }}" class="input is-large" type="text" placeholder="{{ field.label }}">
                    {% else %}
                    <input name="{{ field.name }}" class="input is-large" type="password" placeholder="{{ field.label }}">
                    {% endif %}
                    </div>
                  </div>
                {{ field.errors }}
                {% if field.help_text %}
                    <p class="help text-small text-muted">{{ field.help_text|safe }}</p>
                {% endif %}
            {% endfor %}
              <input type="hidden" name="next" value="{{ next }}"/>
              <button type="submit" class="button is-block is-info is-large">登陆</button>
            </form>
          </div>
          <p class="has-text-grey">
            <a href="{% url 'users:register' %}">注册</a> &nbsp;·&nbsp;
            <a href="{% url 'password_reset' %}">忘记密码</a> 
          </p>
        </div>
      </div>
    </div>
  </section>
</body>
</html>
