
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>密码修改成功 - 云学院</title>
  <link href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/bulmaswatch/united/bulmaswatch.min.css">  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
  {% load staticfiles %}   
  <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
</head>
<body>
  <section class="hero is-success is-fullheight">
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="column is-6 is-offset-3">
          <h3 class="title has-text-grey">新密码设置成功，您现在可以去登陆了！</h3>
          <p class="has-text-grey">
                <a href="{% url 'login' %}">前去登陆</a>
              </p>
        </div>
        
      </div>
    </div>
  </section>
</body>
</html>
