
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>重置密码 - 云学院</title>
  <link href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/bulmaswatch/united/bulmaswatch.min.css">  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
  {% load staticfiles %}   
  <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
</head>
<body>
  <section class="hero is-success is-fullheight">
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="column is-6 is-offset-3">
          <h3 class="title has-text-grey">重置密码</h3>
          <div class="box">
            
            <form class="form" method="post">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    {% for field in form %}
                    
                     <div class="field">
                            <div class="control">
                            
                            <input name="{{ field.name }}" class="input is-large" type="password" placeholder="{{ field.label }}">
                            
                            </div>
                          </div>
                        {{ field.errors }}
                        {% if field.help_text %}
                            <p class="help text-small text-muted">{{ field.help_text|safe }}</p>
                        {% endif %}
                    {% endfor %}
            <input type="hidden" name="next" value="{{ next }}"/>
              <button type="submit" class="button is-block is-info is-large">修改密码</button>
            </form>
          </div>
          <p class="has-text-grey">
            <a onclick="history.go(-1)">返回</a>
           
          </p>
        </div>
      </div>
    </div>
  </section>
</body>
</html>
