
{% extends 'layout/uc.html' %} 
{% load staticfiles %}
{% block content %}
<section>
   
        <h3 class="title is-primary">修改密码</h3>
  
    <form class="form" action="{% url 'password_change' %}" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %}
        
         <div class="field">
                <div class="control">
                
                <input name="{{ field.name }}" class="input" type="password" placeholder="{{ field.label }}">
                
                </div>
              </div>
            {{ field.errors }}
            {% if field.help_text %}
                <p class="help text-small text-muted">{{ field.help_text|safe }}</p>
            {% endif %}
        {% endfor %}
        <input type="hidden" name="next" value="{{ next }}"/>
          <button type="submit" class="button is-block is-info">修改密码</button>
        </form>
</section>
{%endblock%}
