<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>密码重置链接已发送 - 云学院</title>
    <link href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/bulmaswatch/united/bulmaswatch.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet"> {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
</head>

<body>
    <section class="hero is-success is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-6 is-offset-3">
                    <h3 class="title has-text-grey">密码重置链接已经发送</h3>
                    <p class="subtitle has-text-dark">
                        如果您输入的邮件地址所对应的账户存在，设置密码的提示已经发送邮件给您，您将很快收到。
                    </p>
                    <p class="subtitle has-text-dark">
                        如果你没有收到邮件, 请确保您所输入的地址是正确的, 并检查您的垃圾邮件文件夹.
                    </p>
                    
                </div>

            </div>
        </div>
    </section>
</body>

</html>