{% extends 'layout/app.html' %} 
{% load highlight %} 
{% block content %} 
<section class="container" style="min-height:500px;">
{% if query %} 

{% for result in page.object_list %}
<div class="column is-4 category-item">
        <div class="card">
            <div class="card-image">
                <figure class="image is-16by9">
                    <a href="{{ result.object.get_absolute_url }}">
                        <img src="{{ result.object.image.url }}" alt="Placeholder image">
                    </a>
                </figure>
            </div>
            <div class="card-content">
                <div class="content has-text-centered">
                    <a href="{{ result.object.get_absolute_url }}">
                        <h1 class="title"> {% highlight result.object.title with query %}</h1>
                    </a>
                    <p>{% highlight result.object.description with query %}</p>
                </div>
            </div>
        </div>
    </div>
{% empty %}
<h1 class="title has-text-danger  has-text-centered" style="padding-top:200px;">抱歉，没有搜索到你想要的结果！ </h1>
{% endfor %} 

{% if page.has_previous or page.has_next %}
<section class="container">
        <nav class="pagination is-centered" role="navigation" aria-label="pagination">
    
            <ul class="pagination-list">
                    {% if page.has_previous %}
                    <a href="?q={{ query }}&amp;page={{ page.previous_page_number }}"  class="pagination-previous">{% endif %}&laquo; Previous
                {% if page.has_previous %}</a>{% endif %}
                |
                {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}" class="pagination-previous">{% endif %}Next
                &raquo;{% if page.has_next %}</a>{% endif %}
                 
            </ul>
    
        </nav>
    </section>
{% endif %} 

{% else %} 
<h1 class="title has-text-danger  has-text-centered"  style="padding-top:200px;">请输入搜索关键词，例如 linux </h1>
{% endif %} 
</section>
{%endblock%} 

{% block style %}
<style>
    span.highlighted {
        color: red;
    }
</style>
{% endblock%}